<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<config>
		<add key="repositoryPath" value="packages" />
		<add key="DefaultPushSource" value="https://nexus-gcs.leica-geosystems.com/repository/airborne_cache_continuous/index.json" />
	</config>

	<packageSources>
		<add key="airborne_internal" value="https://nexus-gcs.leica-geosystems.com/repository/airborne_internal/index.json" />
		<add key="airborne_cache_nugetorg" value="https://nexus-gcs.leica-geosystems.com/repository/airborne_cache_nugetorg_v3/index.json" />
	</packageSources>

	<packageSourceCredentials>
		<airborne_internal>
			<add key="Username" value="airborne-readonly" />
			<add key="ClearTextPassword" value="326MN3EwK3" />
		</airborne_internal>
		<airborne_cache_nugetorg>
			<add key="Username" value="airborne-readonly" />
			<add key="ClearTextPassword" value="326MN3EwK3" />
		</airborne_cache_nugetorg>
	</packageSourceCredentials>

	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>

</configuration>